<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">Pump</h1>
      <!-- <button class="btn btn-outline-secondary align-end">Add Pump</button> -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Display active pumps and nozzles actions
          </li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <div class="card-actions float-right">
              <a href="/pumps" class="mr-1">
                <i class="align-middle" data-feather="refresh-cw"></i>
              </a>
            </div>
            <h5 class="card-title mb-0">Pumps</h5>
          </div>
          <table
            *ngIf="pumps.length > 0"
            id="datatables-dashboard-projects"
            class="table table-striped my-0"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Nozzle</th>
                <th>Port</th>
                <th>Pump Address</th>
                <th>Printer Ip</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pump of pumps">
                <td>{{ pump.id }}</td>
                <td>
                  <span class="badge badge-warning">{{ pump.status }}</span>
                </td>
                <td>1(Petrol)</td>
                <td>{{ pump.port }}</td>
                <td>{{ pump.address }}</td>
                <td>{{ pump.ip }}</td>
                <td class="table-action">
                  <button href="#"><i class="align-middle fas fa-fw fa-pen"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <h5 *ngIf="pumps.length < 0">No printers found</h5>
        </div>
      </div>
    </div>
  </div>
</main>
