<main class="content">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title">Discounts</h1>
        <p class="header-subtitle">Give customers discounts.</p>
      </div>
<div class="row">
    <div class="col-12 col-lg-12 col-xxl-12 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <div class="card-actions float-right">
            <a href="#" class="mr-1">
              <i class="align-middle" data-feather="refresh-cw"></i>
            </a>
            <div class="d-inline-block dropdown show">
              <a href="#" data-toggle="dropdown" data-display="static">
                <i class="align-middle" data-feather="more-vertical"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <h5 class="card-title mb-0">Latest Transactions</h5>
        </div>
        <table
          id="datatables-dashboard-projects"
          class="table table-striped my-0"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th class="d-none d-xl-table-cell">Date</th>
              <th>Vehicle Plate</th>
              <th>Driver License</th>
              <th>Liters Sold</th>
              <th>Discount</th>
              <th>Original Price</th>
              <th>Paid Amount</th>
              <th>Receipt No</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>05-04-21</td>
              <td>TABC 1234</td>
              <td>314513451451</td>
              <td>5</td>
              <td>100</td>
              <td>2000</td>
              <td>10,000</td>
              <td class="d-none d-xl-table-cell">104851093841</td>
            </tr>
            <tr>
                <td>2</td>
                <td>06-04-21</td>
                <td>TABC 3764</td>
                <td>314513451451</td>
                <td>5</td>
                <td>100</td>
                <td>2000</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">1431094384193</td>
            </tr>
            <tr>
                <td>3</td>
                <td>05-04-21</td>
                <td>TABC 1234</td>
                <td>314513451451</td>
                <td>5</td>
                <td>100</td>
                <td>2000</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">1431434134114</td>
            </tr>
            <tr>
                <td>4</td>
                <td>05-04-21</td>
                <td>TABC 1234</td>
                <td>314513451451</td>
                <td>5</td>
                <td>100</td>
                <td>2000</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">143413413413</td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </main>