<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">Settings</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Pump settings
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-3"
                  >Fuel Grade</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Prices</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-3" role="tabpanel">
                <!-- <div class="card">
                        <div class="card-body">
                          <form>
                            <div class="form-group">
                              <label>Pump:</label>
                              <input
                                class="form-control form-control-lg"
                                type="text"
                                name="timeEnd"
                                placeholder=""
                              />
                            </div>                 
                          <div class="form-group">
                            <label>Nozel:</label>
                            <input class="form-control form-control-lg" type="text" name="timeEnd" placeholder="" />
                          </div>
                          <div class="form-group">
                            <label>Price:</label>
                            <input class="form-control form-control-lg" type="text" name="timeStart" placeholder="" />
                          </div> 
                            <div></div>
                            <div class="text-center mt-3">
                              <a href="" class="btn btn-lg btn-primary">Set Price</a>
                            </div>
                          </form>
                        </div>
                      </div> -->

                <div class="row">
                  <div class="col-12 col-xl-12">
                    <div class="card flex-fill">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Tax Code</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let oilProduct of oilProducts">
                            <td>{{ oilProduct.id }}</td>
                            <td>{{ oilProduct.name }}</td>
                            <td>{{ oilProduct.price }}</td>
                            <td>{{ oilProduct.taxCode }}</td>
                            <td class="table-action">
                              <a href="#"
                                ><i class="align-middle fas fa-fw fa-pen"></i
                              ></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label>Pump:</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="timeEnd"
                          placeholder=""
                        />
                      </div>
                      <div class="form-group">
                        <label>Nozel:</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="timeEnd"
                          placeholder=""
                        />
                      </div>
                      <div class="form-group">
                        <label>Price:</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="timeStart"
                          placeholder=""
                        />
                      </div>
                      <div></div>
                      <div class="text-center mt-3">
                        <a href="" class="btn btn-lg btn-primary">Set Price</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
