<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="A PTS POS for petrol station management"
    />
    <meta name="author" content="EDC" />
    <link
      rel="shortcut icon"
      href="/assets/img/favicon.ico"
      type="image/x-icon"
    />
    <title>PTS POS</title>
  </head>

  <body>
    <div class="splash active">
      <div class="splash-icon"></div>
    </div>

    <!-- class="wrapper" -->
    <!-- [ngClass]="{ wrapper: isAuthenticated == true }" -->
    <div [ngClass]="isAuthenticated ? 'wrapper':'' ">
      <nav *ngIf="isAuthenticated" id="sidebar" class="sidebar">
        <a class="sidebar-brand" href="/">
          <i class="fas fa-fw fa-gas-pump"></i>
          PUMA POS
        </a>
        <div class="sidebar-content">
          <div class="sidebar-user">
            <img
              src="assets/img/avatars/avatar-8.jpg"
              class="img-fluid rounded-circle mb-2"
              alt="Linda Miller"
            />
            <div class="font-weight-bold">Alpha Mohammed</div>
            <small>Station Manager</small>
          </div>
          <!-- side nav -->
          <app-sidenav-component
            *ngIf="isAuthenticated"
          ></app-sidenav-component>
        </div>
      </nav>

      <div class="main">
        <app-header-component *ngIf="isAuthenticated"></app-header-component>
        <!-- router outlet -->
        <router-outlet> </router-outlet>

        <app-footer-component *ngIf="isAuthenticated"></app-footer-component>
      </div>
    </div>
  </body>
</html>
