<ul class="sidebar-nav">
  <li class="sidebar-item">
    <a href="/" class="sidebar-link active">
      <i class="align-middle mr-2 fas fa-fw fa-home"></i>
      <span class="align-middle">Dashboards</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/pumps" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-gas-pump"></i>
      <span class="align-middle">Pumps </span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/printers" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-print"></i>
      <span class="align-middle">Printers</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/transactions" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-money-bill"></i>
      <span class="align-middle">Transactions</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/receipts" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-receipt"></i>
      <span class="align-middle">Receipts</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/discounts" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-percent"></i>
      <span class="align-middle">Discount</span>
    </a>
  </li>

  <!-- <li class="sidebar-item">
      <a routerLink="/transactions" class="sidebar-link collapsed">
        <i class="align-middle mr-2 fas fa-fw fa-exchange-alt"></i>
        <span class="align-middle">Tank Monitoring</span>
      </a>
    </li> -->
  <li class="sidebar-item">
    <a routerLink="/reports" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-chart-line"></i>
      <span class="align-middle">Reports</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/settings" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-cog"></i>
      <span class="align-middle">Configuration</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a routerLink="/logout" class="sidebar-link">
      <i class="align-middle mr-2 fas fa-fw fa-sign-in-alt"></i>
      <span class="align-middle">Log out</span>
    </a>
  </li>
</ul>
