<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">Receipts</h1>
      <p class="header-subtitle">Receipts records</p>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <div class="card-actions float-right">
              <a href="#" class="mr-1">
                <i class="align-middle" data-feather="refresh-cw"></i>
              </a>
            </div>
            <h5 class="card-title mb-0">Latest Receipts</h5>
          </div>
          <table
            id="datatables-dashboard-projects"
            id="datatables-buttons"
            class="table table-striped"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th class="d-none d-xl-table-cell">Date</th>
                <th>Discount</th>
                <th>Amount Paid</th>
                <th>AmountTaxExcl</th>
                <th>AmountTaxIncl</th>
                <th>Serial Number</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let receipt of receipts">
                <td>{{ receipt.id }}</td>
                <td>{{ receipt.salesDate }}</td>
                <td>{{ receipt.discount }}</td>
                <td>{{ receipts.amountPaid }}</td>
                <td>{{ receipt.amountTaxExcl }}</td>
                <td>{{ receipt.amountTaxIncl }}</td>
                <td class="d-none d-xl-table-cell">
                  {{ receipt.serialNumber }}
                </td>
              </tr> -->
              <tr *ngFor="let receipt of receipts">
                <td>{{ receipt.id }}</td>
                <td>{{ receipt.salesDate }}</td>
                <td>{{ receipt.discount }}</td>
                <td>{{ receipts.amountPaid }}</td>
                <td>{{ receipt.amountTaxExcl }}</td>
                <td>{{ receipt.amountTaxIncl }}</td>
                <td class="d-none d-xl-table-cell">
                  {{ receipt.serialNumber }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
