<main class="main h-200 w-100">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
        <div class="d-table-cell align-middle">
          <div class="text-center mt-4">
            <h1 class="h2">PUMA POS</h1>
            <p class="lead">Sign in to your account to continue</p>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="m-sm-4">
                <div class="text-center">
                  <i class="fas fa-fw fa-gas-pump fa-4x text-primary"></i>
                </div>
                <form  #loginForm="ngForm" (submit)="onLogin(loginForm)">
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      class="form-control form-control-lg"
                      type="email"
                      name="email"
                      placeholder="Enter your email"
                      required
                      email
                      ngModel
                    />
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      class="form-control form-control-lg"
                      type="password"
                      name="password"
                      placeholder="Enter your password"
                      required
                      ngModel
                    />
                    <small>
                      <a href="/">Forgot password?</a>
                    </small>
                  </div>
                  <!-- <div>
                    <div
                      class="custom-control custom-checkbox align-items-center"
                    >
                      <input
                        id="customControlInline"
                        type="checkbox"
                        class="custom-control-input"
                        value="remember-me"
                        name="remember-me"
                        checked
                      />
                      <label
                        class="custom-control-label text-small"
                        for="customControlInline"
                        >Remember me next time</label
                      >
                    </div>
                  </div> -->
                  <div class="text-center mt-3">
                    <button type="submit" class="btn btn-lg btn-primary">
                      Sign in
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
