<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">Reports</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Pumps and tanks reports
          </li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-3"
                  >Shift Report</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#tab-5"
                  >Daily Report</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#tab-4"
                  >Pump's Report</a
                >
              </li>
             
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6"
                  >Periodic Report</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-3" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center mt-3">
                      <a href="" class="btn btn-lg btn-primary">Open Shift</a>
                    </div>
                    <div class="text-center mt-3">
                      <a href="" class="btn btn-lg btn-danger">Close Shift</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade  " id="tab-4" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label>Pump Name:</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="timeEnd"
                          placeholder=""
                        />
                      </div>

                      <div class="form-group">
                        <label class="form-label">Date Range</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="daterange"
                        />
                      </div>
                      <!--                             
                    <div class="form-group">
                      <label>Time Start:</label>
                      <input class="form-control form-control-lg" type="text" name="timeEnd" placeholder="" />
                    </div>
                    <div class="form-group">
                      <label>Time End:</label>
                      <input class="form-control form-control-lg" type="text" name="timeStart" placeholder="" />
                    </div> -->
                      <div></div>
                      <div class="text-center mt-3">
                        <a href="" class="btn btn-lg btn-primary">Generate</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-5" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label class="form-label">Date Range</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="daterange"
                        />
                      </div>
                      <!--                             
                      <div class="form-group">
                        <label>Time Start:</label>
                        <input class="form-control form-control-lg" type="text" name="timeEnd" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label>Time End:</label>
                        <input class="form-control form-control-lg" type="text" name="timeStart" placeholder="" />
                      </div> -->
                      <div></div>
                      <div class="text-center mt-3">
                        <a href="" class="btn btn-lg btn-primary">Generate</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-6" role="tabpanel">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-group">
                        <label>Pump:</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="timeEnd"
                          placeholder=""
                        />
                      </div>

                      <div class="form-group">
												<label class="form-label">From:</label>
												<div class="input-group date">
													<input type="text" class="form-control  form-control-lg datetimepicker-input " />
													
												</div>
                      </div>
                      
                      <div class="form-group">
                        <label class="form-label">Date Range</label>
                        <input
                          class="form-control form-control-lg"
                          type="text"
                          name="daterange"
                        />
                      </div>
                      <!--                             
                      <div class="form-group">
                        <label>Time Start:</label>
                        <input class="form-control form-control-lg" type="text" name="timeEnd" placeholder="" />
                      </div>
                      <div class="form-group">
                        <label>Time End:</label>
                        <input class="form-control form-control-lg" type="text" name="timeStart" placeholder="" />
                      </div> -->
                      <div></div>
                      <div class="text-center mt-3">
                        <a href="" class="btn btn-lg btn-primary">Generate</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
