<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">Welcome back, Alpha</h1>
      <p class="header-subtitle">Summary on your petrol station.</p>
    </div>

    <div class="row">
      <div class="col-xl-12 col-xxl-12">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <div class="card-actions float-right">
              <a href="#" class="mr-1">
                <i class="align-middle" data-feather="refresh-cw"></i>
              </a>
            </div>
            <h5 class="card-title mb-0">Petrol Station Consumption (Liters)</h5>
          </div>
          <div class="card-body py-3">
            <div class="chart chart-sm">
              <canvas id="chartjs-dashboard-line"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-xxl-12">
        <div class="row">
          <div class="col-sm 6">
            <div class="card flex-fill w-100">
              <div class="card-body py-3">
                <div class="chart chart-sm">
                  <canvas id="graph-line-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm 6">
            <div class="card flex-fill w-100">
              <div class="card-body py-3">
                <div class="chart chart-sm">
                  <canvas id="graph-bar-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-xxl-12 d-flex">
        <div class="w-100">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Daily Liters Sold (L)</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <i class="fas fa-tint"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">3.82 L</h1>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Total liter's Sold (L)</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <!-- <i class="align-middle" data-feather="droplet"></i> -->

                          <i class="fas fa-tint"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">3.8 L</h1>
                  <div class="mb-0"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Daily Sales (Tsh)</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <i class="fas fa-coins"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">7,000</h1>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Total Sales (Tsh)</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <i class="fas fa-coins"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h1 class="display-5 mt-1 mb-3">7,000</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 col-xxl-3 d-flex order-1 order-xxl-1">
        <div class="card flex-fill">
          <div class="card mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Petrol /(L)</h5>
                </div>

                <div class="col-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle bg-primary-dark">
                      <i class="fas fa-tint"></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-5 mt-1 mb-3">1800</h1>
              <div class="mb-0"></div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Diesel /(L)</h5>
                </div>

                <div class="col-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle bg-primary-dark">
                      <!-- <i class="align-middle" data-feather="droplet"></i> -->

                      <i class="fas fa-tint"></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-5 mt-1 mb-3">1700</h1>
              <div class="mb-0"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Kerosene /(L)</h5>
                </div>

                <div class="col-auto">
                  <div class="avatar">
                    <div class="avatar-title rounded-circle bg-primary-dark">
                      <!-- <i class="align-middle" data-feather="droplet"></i> -->

                      <i class="fas fa-tint"></i>
                    </div>
                  </div>
                </div>
              </div>
              <h1 class="display-5 mt-1 mb-3">1200</h1>
              <div class="mb-0"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-xxl-3 d-flex order-3 order-xxl-3">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <div class="card-actions float-right">
              <a href="#" class="mr-1">
                <i class="align-middle" data-feather="refresh-cw"></i>
              </a>
              <div class="d-inline-block dropdown show">
                <a href="#" data-toggle="dropdown" data-display="static">
                  <i class="align-middle" data-feather="more-vertical"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <h5 class="card-title mb-0">Daily Station Usage (L)</h5>
          </div>
          <div class="card-body d-flex">
            <div class="align-self-center w-100">
              <div class="py-3">
                <div class="chart chart-xs">
                  <canvas id="chartjs-dashboard-pie"></canvas>
                </div>
              </div>

              <table class="table mb-0">
                <tbody>
                  <tr>
                    <td>
                      <i class="fas fa-circle text-warning fa-fw"></i> Unleaded
                    </td>
                    <td class="text-right">700 L</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fas fa-circle text-danger fa-fw"></i> Diesel
                    </td>
                    <td class="text-right">200 L</td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fas fa-circle text-primary fa-fw"></i> Kerosene
                    </td>
                    <td class="text-right">0 L</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xxl-6 d-flex order-2 order-xxl-2">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title mb-0">Daily Sales Summary (Tsh)</h5>
          </div>
          <div class="card-body px-4">
            <div style="height: 350px; overflow: hidden; overflow-y: scroll">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Petrol</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <i class="fas fa-tint"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="display-5 mt-1 mb-3">7,000.00</h5>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Diesel</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <i class="fas fa-tint"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="display-5 mt-1 mb-3">5,000.00</h5>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col mt-0">
                      <h5 class="card-title">Kerosene</h5>
                    </div>

                    <div class="col-auto">
                      <div class="avatar">
                        <div
                          class="avatar-title rounded-circle bg-primary-dark"
                        >
                          <i class="fas fa-tint"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h5 class="display-5 mt-1 mb-3">00.00</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-12 col-xxl-12 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
            <div class="card-actions float-right">
              <a href="#" class="mr-1">
                <i class="align-middle" data-feather="refresh-cw"></i>
              </a>
              <div class="d-inline-block dropdown show">
                <a href="#" data-toggle="dropdown" data-display="static">
                  <i class="align-middle" data-feather="more-vertical"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <h5 class="card-title mb-0">Latest Transactions</h5>
          </div>
          <table
            id="datatables-dashboard-projects"
            class="table table-striped my-0"
          >
            <thead>
              <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Pump</th>
                <th>Nozzle</th>
                <th>Price</th>
                <th>Filled Volume</th>
                <th>Total Volume</th>
                <th>Total Amount</th>
                <th class="d-none d-xl-table-cell">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><span class="badge badge-success">Filled</span></td>
                <td>2</td>
                <td>3</td>
                <td>30,000</td>
                <td>5</td>
                <td>5</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">01/01/2018</td>
              </tr>
              <tr>
                <td>2</td>
                <td><span class="badge badge-warning">Cancelled</span></td>
                <td>2</td>
                <td>3</td>
                <td>30,000</td>
                <td>5</td>
                <td>5</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">01/01/2018</td>
              </tr>
              <tr>
                <td>1</td>
                <td><span class="badge badge-success">Filled</span></td>
                <td>2</td>
                <td>3</td>
                <td>30,000</td>
                <td>5</td>
                <td>5</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">01/01/2018</td>
              </tr>
              <tr>
                <td>1</td>
                <td><span class="badge badge-success">Filled</span></td>
                <td>2</td>
                <td>3</td>
                <td>30,000</td>
                <td>5</td>
                <td>5</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">01/01/2018</td>
              </tr>
              <tr>
                <td>1</td>
                <td><span class="badge badge-success">Filled</span></td>
                <td>2</td>
                <td>3</td>
                <td>30,000</td>
                <td>5</td>
                <td>5</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">01/01/2018</td>
              </tr>
              <tr>
                <td>1</td>
                <td><span class="badge badge-success">Filled</span></td>
                <td>2</td>
                <td>3</td>
                <td>30,000</td>
                <td>5</td>
                <td>5</td>
                <td>10,000</td>
                <td class="d-none d-xl-table-cell">01/01/2018</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
