<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">Printer Control</h1>
      <p class="header-subtitle">Receipt printer controls</p>
    </div>

    <div class="row" *ngIf="printers.length > 0">
      <div class="col-md-6 col-lg-3 col-xl-3" *ngFor="let printer of printers">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col mt-0">
                <h5 class="card-title">{{ printer.name }}</h5>
              </div>

              <div class="col-auto">
                <div class="avatar">
                  <div class="avatar-title rounded-circle bg-primary-dark">
                    <i class="align-middle" data-feather="printer"></i>
                  </div>
                </div>
              </div>
            </div>
            <h1 class="display-5 mt-1 mb-3">{{ printer.ip }}</h1>
            <div class="mb-0">
              <span class="text-primary">
                <i class="mdi mdi-arrow-bottom-right"></i> Online</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="card flex-fill">
        <table class="table table-striped" *ngIf="printers.length > 0">
          <thead>
            <tr>
              <th style="width: 10%">Id</th>
              <th style="width: 20%">Name</th>
              <th style="width: 30%" class="d-none d-md-table-cell">
                Ip Address
              </th>
              <th style="width: 20%">Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let printer of printers">
              <td>{{ printer.id }}</td>
              <td>{{ printer.name }}</td>
              <td>{{ printer.ip }}</td>
              <td><span class="badge badge-success">Online</span></td>
              <td class="table-action">
                <a href="#"><i class="align-middle fas fa-fw fa-pen"></i></a>
                <a href="#"><i class="align-middle fas fa-fw fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
